/* Still in development -not minified */
@import url("reset.css");

aside {
	float: right;
	margin: 0 0 2em 2em;
}

aside.left {
	float: left;
	margin: 0 2em 2em 0;
}

figcaption {
	font-style: italic;
	text-align: right;
}

nav.bar ul {
	float: left;
}

nav.bar li {
	display: block;
	float: left;
	margin-right: 2em;
	position: relative;
}

nav.bar li a {
	display: block;
	float: left;
}

nav.bar li ul {
	display: none;
	float: none;
	left: 0;
	position: absolute;
	top: 100%;
}

nav.bar li:hover > ul {
	display: block;
}

nav.bar li li,
nav.bar li li a {
	float: none;
}

nav.bar li li {
	margin: 0;
}

nav.bar li li ul {
	left: 100%;
	top: 0;
}