/*
Fout: uncaught exception: {faultcode:'soapenv:Client', faultstring:'System.StringException: Invalid id: 

Class.sja.EntityService: line 198, column 49', }

Fout: uncaught exception: {faultcode:'soapenv:Client', faultstring:'System.QueryException: List has no rows for assignment to SObject

Class.sja.DataEntityCache.get: line 82, column 22
Class.sja.DataEntity.readByName: line 218, column 35
Class.sja.EntityService.getEntityExpandedByName: line 209, column 37
External entry point', }

Fout: uncaught exception: {faultcode:'soapenv:Client', faultstring:'System.StringException: Invalid id: 

Class.sja.DataEntity.getCreatedBy: line 121, column 8
Class.sja.DataEntity.toJson: line 59, column 27
Class.sja.EntityService.getEntityExpanded: line 220, column 31
Class.sja.EntityService.getEntityExpandedByName: line 211, column 16
External entry point', }

Fout: uncaught exception: {faultcode:'soapenv:Client', faultstring:'System.NullPointerException: Attempt to de-reference a null object

Class.sja.DataEntity.getTypeName: line 74, column 61
Class.sja.EntityService.getEntityExpanded: line 226, column 25
Class.sja.EntityService.getEntityExpandedByName: line 211, column 16
External entry point', }

Fout: uncaught exception: [Exception... "Component returned failure code: 0xc1f30001 (NS_ERROR_NOT_INITIALIZED) [nsIDOMJSWindow.setTimeout]"  nsresult: "0xc1f30001 (NS_ERROR_NOT_INITIALIZED)"  location: "JS frame :: https://sja.na6.visual.force.com/resource/1272448729000/sja__yui_min_js :: anonymous :: line 10"  data: no]
*/
  .tundra .dijitSplitContainerSizerH {
    background:url("../images/splitContainerSizerV.png") repeat-y #fff;
    border:0;
    border-left:0px none green; //1px solid #bfbfbf;
    border-right:0px none green; //1px solid #bfbfbf;
    width:0px; //7px;
    background-color:red; //yellow;
  //display:none;    
  }
  .tundra .dijitSplitContainerSizerH .thumb {
    background:url("../images/splitContainerSizerV-thumb.png") no-repeat #ccc;
    left:1px;
    width:1px; //2px; //3px; //2px; //3px;
    height:10px; //19px;
    background-color:black;
  //overflow:hidden;
  }
  .tundra .dijitSplitter {
    border-color:red; //#bfbfbf;
  }

  .dijitSplitterH {
    background-color:inherit;
    height:7px;
    border-top:1px;
    border-bottom:1px;
    cursor:ns-resize;
  }
  .dijitSplitterV {
    background-color:inherit;
  //background-color:lightblue; //#F9F9F9; //lightgray; //red; //lime; //THIS CONTROLS THE VERTICAL SPLITTER_LINES !!!
    width:1px; //2px; //3px; //2px; //3px;
  //border-left:1px;
  //border-right:1px;
    cursor:ew-resize;
  }
  
  ///////////////////////////////////
  //THIS CONTROLS THE SPLITTER !!! //
  ///////////////////////////////////
  .tundra .dijitSplitterV,
  .tundra .dijitGutterV {
  //background:#fcfcfc;
    background-color:inherit; //lightgreen; //#F9F9F9; //lightgray; //red; //black;
    border:0;
  //width:5px;
    width:1px; //2px; //3px; //2px; //2px;
  //display:none;
  }
  .tundra .dijitSplitterV .dijitSplitterThumb {
  //background:#B0B0B0 none;
  //background:yellow none;
  //background:black lime;
    background-color:inherit; //black;
    height:19px;
    left:1px; //2px;
    width:10px;
  }

  .tundra .dijitContentPane {
    padding:0px; // 0px;
  }

//.tundra .dijitSjamayeeSplitter-dijitContentPane,
  .tundra .dijitSplitContainer-dijitContentPane,
  .tundra .dijitBorderContainer-dijitContentPane {
        background-color:red; //white; //red; //#fff;
        padding:0px; //5px;
        border:0;
      //border:3px solid blue;
  }

  .tundra .dijitInputField INPUT,
  .tundra .dijitTextBox,
  .tundra .dijitComboBox,
  .tundra .dijitSpinner {
    margin:0em 0em; //0em 0.1em;
  }
  .tundra .dijitTextBox,
  .tundra .dijitComboBox,
  .tundra .dijitSpinner,
  .tundra .dijitTextArea {
  //font-family:sans-serif;    //ff-1
  //font-size:100%;
  }
  .tundra .dijitTextArea {
    padding:3px;
  }

  .tundra .normal { border-style:solid;border-color:black; }
  .tundra .focused { border-style:solid;border-color:red black black red; }

  /////////////
  // YUI CSS //
  /////////////

	#custom-doc {
		width:36.923em;
		*width:45.750em;
	}

  .noneListBorder {
    height:100%;
    align:left;
    position:relative;
    float:left;
    overflow:hidden;
    display:block;
    border-top:3px solid inherit;   
    border-right:1px solid inherit;   
    border-bottom:1px solid inherit;   
    border-left:1px solid inherit;   
  }
  .focusedListBorder {
    height:100%;
    align:left;
    position:relative;
    float:left;
    overflow:hidden;
    display:block;
    border-top:2px solid red;   
    border-right:1px solid inherit;   
    border-bottom:1px solid inherit;   
    border-left:1px solid inherit;   
  }

  .noneBorder {
    border-top:2px solid inherit;   
    border-right:2px solid inherit;   
    border-bottom:2px solid inherit;   
    border-left:2px solid inherit;   
  }
  .normalBorder {
    /*border-top:1px solid black;   
    border-right:1px solid black;   
    border-bottom:1px solid black;*/
    /*border-left:1px solid black;*/  /*TODO: remove normalBorder in code ???*/
  }
  .focusedBorder {
    border-top:2px solid red;   
    border-right:2px solid inherit;   
    border-bottom:2px solid inherit;   
    border-left:2px solid inherit;   
  }

  .nonePropertyBorder {
    border-top:1px solid inherit;   
    border-left:1px solid inherit;   
    border-bottom:1px dotted lightgray;   
  }

  .focusedPropertyBorder {
    border-top:1px dotted red;   
    border-left:1px dotted red;   
    border-bottom:1px dotted red;   
  }

  .listPaneBorder {
		background-color:inherit;
		width:100%;
		//height:16.000em; //220px;
		height:12.000em;
	 *height:16.923em; //IE
		margin-top:0.7692; //10px;
	 *margin-top:0.7500; //IE
  }

  .normalPropertyName {
    border-top:1px solid inherit;   
    border-left:1px solid inherit;   
    border-bottom:1px dotted lightgray;
  	background-color:#F2F2F2;
    font-color:inherit;
    font-weight:inherit;
  }
  .normalPropertyValue {
    border-top:1px solid inherit;   
    border-left:1px solid inherit;   
    border-bottom:1px dotted lightgray;   
  	background-color:#F2F2F2;
    font-color:inherit;
    font-weight:inherit;
  }
  .normalFocusedPropertyName {
    border-top:1px solid inherit;   
    border-left:1px solid inherit;   
    border-bottom:1px dotted lightgray;   
    background-color:lightgray;
    font-color:inherit;
    font-weight:bold;
  }
  .normalFocusedPropertyValue {
    border-top:1px solid inherit;   
    border-left:1px solid inherit;   
    border-bottom:1px dotted lightgray;   
    background-color:lightgray;
    font-color:black;
    font-weight:bold;
  }
  .emptyNormalPropertyName {
    border-top:1px solid inherit;   
    border-left:1px solid inherit;   
    border-bottom:1px dotted lightgray;
    background-color:inherit;
    font-color:inherit;
    font-weight:inherit;
		font-style:italic;
  }
  .emptyFocusedPropertyName {
    border-top:1px solid inherit;   
    border-left:1px solid inherit;   
    border-bottom:1px dotted lightgray;
    background-color:lightgray;
    font-color:inherit;
    font-weight:inherit;
		font-style:italic;
  }

  .tundra .gridSplitter {
  /*border:0px none red;
  //border-color:black;
  //border-width:0px 1px 0px 0px;
  //border-style:none solid none none;
  //background-color:yellow; //inherit;
  //background-color:black; //white;     
  //width:100%;
  //height:100%;
  	//margin:10px 0px 0px 1.5%;*/
    display:block;
  }

  .tundra .verticalSplitter {
  /*border:0px none red;
  //border-color:black;
  //border-width:0px 1px 0px 0px;
  //border-style:none solid none none;
  //width:100%; //97%;
  //height:100%; //49%;
  	//margin:10px 0px 0px 1.5%;*/
    background-color:red; //inherit;
    display:block;
  }

////////////////////////////////////////
//////////////////////////////// LIST //
////////////////////////////////////////

  .tundra .listPane {
  /*background-color:yellow;
    width:100%;*/
    height:100%;
    align:left;
    position:relative;
    float:left;
    overflow:hidden;
    display:block;
		text-align:left;
  }
  .tundra .listColumn {
    background-color:inherit;
    width:0%;
    height:100%;
    align:left;
    position:relative;
    float:left;
    white-space:nowrap;
    overflow:hidden;
    display:none;
	  text-align:left;
  }

  .tundra .listCell {
    border-color:black;
    border-width:1px 0px 0px 1px;
    border-style:dotted none none dotted;
    border-top:1px dotted lightgray;
    border-left:1px dotted lightgray;
    color:black;
    white-space:nowrap;
    overflow:hidden;    
    text-align:left;
    padding:1px 3px 1px 1px;
    align:top;
  }
  .tundra .listCellFirstLine {
    border-color:black;
    border-width:0px 0px 0px 1px;
    border-style:none none none dotted;
    border-left:1px dotted lightgray;
    color:black;
    white-space:nowrap;
    overflow:hidden;    
    text-align:left;
    padding:1px 3px 1px 1px;
    align:top;
  }
  .tundra .listCell01 {
    border-color:black;
    border-width:1px 0px 0px 0px;
    border-style:dotted none none none;
    border-top:1px dotted lightgray;
    color:black;
    white-space:nowrap;
    overflow:hidden;    
    text-align:left;
    padding:1px 3px 1px 1px;
    align:top;
  }
  .tundra .listCell01FirstLine {
    border-color:black;
    border-width:0px 0px 0px 0px;
    border-style:none none none none;
    color:black;
    white-space:nowrap;
    overflow:hidden;    
    text-align:left;
    padding:1px 3px 1px 1px;
    align:top;
  }

  .tundra .listCellContent {
    background-color:inherit;
    color:inherit;
    width:100%;
    padding:0px 0px 0px 2px;
    border-style:none;
    white-space:nowrap;    
  /*font-family:sans-serif; //ff-2*/
		text-align:left;
  }

  .tundra .listColumnHeader {
    background-color:#F9F9F9;
    border-color:black;
    font-weight:bold;
    padding:1px 3px 1px 3px;
    align:top;
    white-space:nowrap;
    overflow:hidden;    
    text-align:left;
    border-width:0px 0px 1px 1px;
    border-style:none none solid dotted;
    border-left:1px dotted lightgray;
  }
  .tundra .listColumnHeader01 {
    background-color:#F9F9F9;
    border-color:black;
    font-weight:bold;
    padding:1px 3px 1px 3px;
    align:top;
    white-space:nowrap;
    overflow:hidden;    
    text-align:left;
    border-width:0px 0px 1px 0px;
    border-style:none none solid none;
  }

  .tundra .listColumnHeaderCheckBox {
    text-align:center;
  //border-width:0px 0px 1px 1px;
  //border-style:none none solid solid;
  }
  .tundra .listColumnCheckBox { }

  .tundra .listColumnHeaderReference {
    text-align:right;
    padding:1px 5px 1px 3px;
  //border-width:0px 0px 1px 1px;
  //border-style:none none solid solid;
  }
  .tundra .listColumnReference {
    /*text-align:right;
    padding:0px 5px;*/
  }

  .tundra .listColumnHeaderName {
  //border-width:0px 0px 1px 1px;
  //border-style:none none solid solid;
  }
  .tundra .listColumnName { }

  .tundra .listColumnHeaderType {
  //border-width:0px 0px 1px 1px;
  //border-style:none none solid solid;
  }
  .tundra .listColumnType { }

  .tundra .listColumnHeaderDescription {
  //padding:1px 3px 1px 2px;
  //border-width:0px 0px 1px 0px;
  //border-style:none none solid none;
  //text-align:left;
  }
  .tundra .listColumnDescription { }

  .normalListLine {
    background-color:inherit;
  //color:inherit;
    font-color:inherit;
    font-weight:normal;
  //font-family:sans-serif; //ff-3
  }
  .focusedListLine {
    background-color:lightgray;
  //color:black;
    font-color:black;
    font-weight:bold;
  //font-family:sans-serif; //ff-4
  }

////////////////////////////////////////
//////////////////////////////// GRID //
////////////////////////////////////////

  .tundra .gridPane {
  /*background-color:yellow;
  //width:100%;*/
    height:100%;
    align:left;
    position:relative;
    float:left;
    overflow:hidden;
    display:block;
		text-align:left;
  }

  .tundra .gridColumn {
    background-color:inherit;
    width:0%;
    height:100%;
    align:left;
    position:relative;
    float:left;
    white-space:nowrap;
    overflow:hidden;
    display:none;
		text-align:left;
  }

  .tundra .gridColumnHeader {
    border-bottom:1px solid black;
    border-left:1px solid black;
    padding:0px 0px 0px 0px;
    background-color:#F2F2F2; //#F9F9F9;
    font-weight:bold;
    align:top;
    white-space:nowrap;
    overflow:hidden;    
    text-align:center;
  }
  .tundra .gridColumnHeaderFirst {
    border-left:0px none black;
  }
/* SHOULD BE REMOVED - replaced by LEFT/RIGHT !!! */
  .tundra .gridCell {
    border-top:1px dotted lightgray;
    border-left:1px dotted lightgray;
    background-color:inherit;
  	padding:1px 0px 1px 0px;
  	color:inherit;
  	width:100%;
  	height:17px;
    align:top;
		text-align:left;
  }

  .tundra .relationsGridLeftCell {
    border-top:1px dotted lightgray;
    border-left:1px dotted lightgray;
    background-color:inherit;
  	padding:1px 0px 1px 0px;
  	color:inherit;
  	width:100%;
  	height:17px;
    align:top;
		text-align:left;
  }
  .tundra .gridCellFirst {
    border-top:0px none lightgray;
  }  
  .tundra .gridCellLeft {
    border-left:0px none lightgray;
  }  

  .tundra .relationsGridRightCell {
    border-bottom:1px dotted lightgray;
    background-color:inherit;
  	padding:1px 0px 1px 0px;
  	color:inherit;
  	width:100%;
  	height:17px;
    align:top;
		text-align:left;
  }

  .tundra .gridCellContent {
    background-color:inherit;
    padding:0px 1px 0px 1px;
    width:100%;
    border-style:none;
    white-space:nowrap;    
		text-align:left;
  }

  .tundra .gridPaneWhereUsed { }
  .tundra .gridColumnWhereUsed {
    height:100%;
    display:block;    
    color:blue;
  }
  /* 3 columns(23) & Root(31) */
  .tundra .gridColumnWhereUsed_4C {
    width:23%;
  }
  /* 4 columns(18.5) & Root(26) */
  .tundra .gridColumnWhereUsed_5C {
    width:18.5%;
  }
  /* 5 columns(16) & Root(20) */
  .tundra .gridColumnWhereUsed_6C {
    width:16%;
  }
  /* 6 columns(14) & Root(16) */
  .tundra .gridColumnWhereUsed_7C {
    width:14%;
  }
  /* 7 columns(12.5) */
  .tundra .gridColumnWhereUsed_8C {
    width:12.5%;
  }

  .tundra .gridCellWhereUsedSelected {
    background-color:lightblue;
  }
  .tundra .gridCellWhereUsedFocused {
    background-color:lightblue;
    color:black;
    font-weight:bold;
  }

  .tundra .gridCellContentWhereUsed {
    margin:0px;
    border:0px none none; 
  }

  .tundra .gridColumnRoot {
    height:100%;
    display:block;
    background-color:magenta;
  }
  /* 3 columns(23) & Root(31) */
  .tundra .gridColumnRoot_4C {
    width:31%;
  }
  /* 4 columns(18.5) & Root(26) */
  .tundra .gridColumnRoot_5C {
    width:26%;
  }
  /* 5 columns(16) & Root(20) */
  .tundra .gridColumnRoot_6C {
    width:20%;
  }
  /* 6 columns(14) & Root(16) */
  .tundra .gridColumnRoot_7C {
    width:16%;
  }

  .tundra .gridCellRoot {
    background-color:red;
    font-weight:bold;
    color:black;
  }
  .tundra .gridCellRootFocused {
    color:white;
  }
  
  .tundra .gridCellContentRoot {
    color:red;
    font-weight:bold;
  }

  .tundra .gridPaneWhatUsed { }

  .tundra .gridColumnWhatUsed {
    height:100%;
    width:100%;
    display:block;
    color:green;
  }
  .tundra .gridColumnWhatUsedLeft {
    height:100%;
    display:none;    
    color:green;
  }
  /* 3 columns(23) & Root(31) */
  .tundra .gridColumnWhatUsedLeft_4C {
    width:23%;
  }  
  /* 4 columns(25) */
  .tundra .gridColumnWhatUsedLeft_4X {
    width:25%;
  }  

  .tundra .gridColumnHeaderWhatUsed {
  /*border-right:1px solid black;*/
    text-align:left;
  }

  .tundra .gridCellWhatUsedSelected {
    background-color:lightgreen;
  }
  .tundra .gridCellWhatUsedFocused {
    background-color:lightgreen;
    color:black;
    font-weight:bold;
  }

  .tundra .gridCellContentWhatUsed {
    margin:0px;
    border:0px none none; 
		background-color:lightblue;
  }
  
  .tundra .gridCellContentWhatUsedLeft {
    margin:0px;
    border:0px none none; 
		background-color:lightblue;
  }

  /////////////////////
  // Control Buttons //
  /////////////////////
  .tundra .parentButton_enabled {
    background-color:gray;
    color:black;
    font-weight:bold;
  }
  .tundra .parentButton_disabled {
    background-color:lightgray;
    color:black;
    font-weight:normal;
  }

  .tundra .parentAndChildButton_enabled {
    background-color:gray;
    color:black;
    font-weight:bold;
  }

  .tundra .childButton_enabled {
    background-color:gray;
    color:black;
    font-weight:bold;
  }

  .tundra .editButton_enabled {
    background-color:gray;
    color:black;
    font-weight:bold;
  }
  .tundra .editButton_disabled {
    background-color:lightgray;
    color:black;
    font-weight:normal;
  }

  .tundra .resetGridButton_enabled {
    background-color:#F9F9F9;
    color:black;
    font-weight:bold;
  }

  .tundra .childEditButton_enabled {
    background-color:red;
    color:black;
    font-weight:bold;
  }
  .tundra .childEditButton_disabled {
    background-color:lightgray;
    color:black;
    font-weight:normal;
  }

  //////////////////
  // Detail - CSS //
  //////////////////
/*.detailNTD {
    position:relative;
    float:left;
    width:100%;
    height:100%;
    border:none;
    overflow:hidden;
    margin-right:5px;
  }*/
  #dataParentNTDNTDHeader {
  	position:relative;
  	float:left;
  	top:0px;
  	width:100%;
  	height:20px;
  	background-color:lightblue;
  	font-weight:bold;
  	text-align:center;
  	padding:3px 0px 0px 0px;
    cursor:ns-resize;
  	overflow:hidden;
  }  
  #dataChildNTDNTDHeader {
  	position:relative;
  	float:left;
  	top:0px;
  	width:100%;
  	height:20px;
  	background-color:lightblue;
  	font-weight:bold;
  	text-align:center;
  	padding:3px 0px 0px 0px;
    cursor:ns-resize;
  	overflow:hidden;
  }  
  .detailNTDHeader {
  	position:relative;
  	float:left;
  	top:0px;
  	width:100%;
  	height:20px;
  	background-color:lightblue;
  	font-weight:bold;
  	text-align:center;
  	padding:3px 0px 0px 0px;
    cursor:ns-resize;
  	overflow:hidden;
  }
/*#dataObjectNTDNTDHeader {
  	position:relative;
  	float:left;
  	top:0px;
  	width:100%;
  	height:20px;
  	background-color:lightblue;
  	font-weight:bold;
  	text-align:center;
  	padding:3px 0px 0px 0px;
  	overflow:hidden;
  }*/
  #modelParentNTDNTDHeader {
  	position:relative;
  	float:left;
  	top:0px;
  	width:100%;
  	height:20px;
  	background-color:#FAE4DB;
  	font-weight:bold;
  	text-align:center;
  	padding:3px 0px 0px 0px;
    cursor:ns-resize;
  	overflow:hidden;
  }  
  #modelChildNTDNTDHeader {
  	position:relative;
  	float:left;
  	top:0px;
  	width:100%;
  	height:20px;
  	background-color:#FAE4DB;
  	font-weight:bold;
  	text-align:center;
  	padding:3px 0px 0px 0px;
    cursor:ns-resize;
  	overflow:hidden;
  }    
  #modelObjectNTDNTDHeader {
  	position:relative;
  	float:left;
  	top:0px;
  	width:100%;
  	height:20px;
  	background-color:#FAE4DB;
  	font-weight:bold;
  	text-align:center;
  	padding:3px 0px 0px 0px;
    cursor:ns-resize;
  	overflow:hidden;
  }
  .detailNTDField {
    position:relative;
    clear:both;
    left:0px;
    border:none;
    overflow:hidden;
    white-space:nowrap;
    margin:0px 0px 0px 3px;    
  }
  .detailNTDFieldLabel {
    font-weight:bold;
    overflow:hidden;
    white-space:nowrap;
  }
  .detailNTDTextFieldName {
    position:absolute;
    top:0px;
    left:40px;
    height:20px;
    border:none;
    background:transparent;
    overflow:hidden;    
    margin:0px 5px 0px 3px;
  }
  .detailNTDTextFieldType {
    position:absolute;
    top:0px;
    left:40px;
    height:20px;
    border:none;
    background:transparent;
    font-weight:bold;
    overflow:hidden;    
    margin:0px 5px 0px 3px;
  }
  .detailNTDTextFieldDescription {
    position:relative;
    clear:both;
    width:100%;
    height:41px; /*33px;*/ /*108px;*/ /*33px;*/
    border:none;
    background:transparent;
    overflow:hidden;
    white-space:normal;    
    margin:2px 5px 5px 0px;
  }
  .detailNTDTextFieldCreatedBy {
    position:absolute;
    top:0px;
    left:75px;
    height:20px;
    border:none;
    background:transparent;
    font-style:italic;
    overflow:hidden;    
    margin:0px 5px 0px 5px;
  }
  .detailNTDTextFieldModifiedBy {
    position:absolute;
    top:0px;
    left:75px;
    height:20px;
    border:none;
    background:transparent;
    font-style:italic;
    overflow:hidden;    
    margin:0px 5px 0px 5px;
  }
  .detailNTDButtons {
    width:100%;
    height:28px;
    overflow:hidden;
    white-space:nowrap;
    margin:0px 5px 0px 3px;    
  }
  .detailNTDGoButton {
  	position:relative;
  	float:left;
  	left:0px;
  	width:90px;
  	text-align:center;
  	margin:0px 0px 0px 0px;
  	background:transparent;
  	display:block;
  }
  .detailNTDNoGoButton {
  	position:relative;
  	float:left;
  	width:90px;
  	text-align:center;
  	margin:0px 0px 0px 10px;
  	background:transparent;
  	display:none;
  }
  #objectNTDButtons {
  /*background-color:lightgray;*/
  }
  #objectNTDGoButton { background-color:lightblue; }
  #objectNTDNoGoButton { background-color:lightblue; }
  #dataObjectNTDNTDGoButton { background-color:lightblue; }
  #dataObjectNTDNTDNoGoButton { background-color:lightblue; }
  #modelObjectNTDNTDGoButton { background-color:#FAE4DB; }
  #modelObjectNTDNTDNoGoButton { background-color:#FAE4DB; }

  #parentNTDButtons {
  /*background-color:lightblue;*/
  }
  #parentNTDGoButton { background-color:lightblue; }
  #parentNTDNoGoButton { background-color:lightblue; }
  #dataParentNTDNTDGoButton { background-color:lightblue; }
  #dataParentNTDNTDNoGoButton { background-color:lightblue; }
  #modelParentNTDNTDGoButton { background-color:#FAE4DB; }
  #modelParentNTDNTDNoGoButton { background-color:#FAE4DB; }

  #childNTDButtons {
  /*background-color:lightgreen;*/
  }
  #childNTDGoButton { background-color:lightgreen; }
  #childNTDNoGoButton { background-color:lightgreen; }
  #dataChildNTDNTDGoButton { background-color:lightgreen; }
  #dataChildNTDNTDNoGoButton { background-color:lightgreen; }
  #modelChildNTDNTDGoButton { background-color:#FAE4DB; }
  #modelChildNTDNTDNoGoButton { background-color:#FAE4DB; }

  .tundra .parentNameTextArea {
    font:10px Georgia,Garamond,Serif;
    border-color:white white white white;
    border-width:0px 0px 0px 0px;
    border-style:none none none none;
    padding:0px 0px 0px 0px;
  /*style="width:87%;
    height:12px;*/
  }
  .tundra .parentDescTextArea {
    font:12px/22px Georgia,Garamond,Serif;
    border-color:white white white white;
    border-width:0px 0px 0px 0px;
    border-style:none none none none;
  /*padding:1px 0px 1px 0px;
    width:98%;*/
  }
  .tundra .childNameTextArea {
    font:10px Georgia,Garamond,Serif;
    border-color:white white white white;
    border-width:0px 0px 0px 0px;
    border-style:none none none none;
    padding:0px 0px 0px 0px;
  /*style="width:87%;
    height:12px;*/
  }
  .tundra .childDescTextArea {
    font:12px/22px Georgia,Garamond,Serif;
    border-color:white white white white;
    border-width:0px 0px 0px 0px;
    border-style:none none none none;
  /*padding:1px 0px 1px 0px;
    width:98%;*/
  }

/*  
  .tundra .detailAnchorWhereUsed {
    color:green;
    text-align:left;
    text-decoration:underline;
  }

  .tundra .detailAnchorRoot {
    color:red;
    text-align:left;
    text-decoration:underline;
  }

  .tundra .detailAnchorWhatUsed {
    color:blue;
    text-align:left;
    text-decoration:underline;
  }

  .tundra .parentProperties { }
  .tundra .childProperties { }
*/

//////////
// Form //
//////////
#sjamayeeForm {
  width:100%;
  height:1000px;
  /*border:1px solid gray;*/
}
#googleBranding {
  width:100%;
  height:100%;
  background-color:white;
  display:block;
  /*border-bottom:1px solid gray;*/
}

////////////
// Header //
////////////
.header {
	position:relative;
	float:left;
	width:70%;
	height:100%;  
	color:black;
}
#dataObjectsHeader {
	background-color:lightblue;
	height:100%;
	/*display:none;*/
}
#dataObjectsTextsHeader {
	background-color:lightblue;
	height:100%;
	/*display:none;*/
}
#dataRelationsHeader {
	background-color:lightblue;
	height:100%;
	/*display:none;*/
}
#dataRelationsTextsHeader {
	background-color:lightblue;
	height:100%;
	/*display:none;*/
}
#modelObjectsHeader {
	background-color:#FAE4DB; /*#FF887A;*/
	height:100%;
	/*display:none;*/
}
#modelObjectsTextsHeader {
	background-color:#FAE4DB; /*#FF887A;*/
	height:100%;
	/*display:none;*/
}
#modelRelationsHeader {
	background-color:#FAE4DB; /*#FF887A;*/
	height:100%;
	/*display:none;*/
}
#modelRelationsTextsHeader {
	background-color:#FAE4DB; /*#FF887A;*/
	height:100%;
	/*display:none;*/
}

#dataModelHeader {
	position:relative;
	float:left;
	width:9%;
	height:100%;  
	background-color:inherit;
	color:black;
	display:block;
}
#dataModelSelect {
	position:relative;
	float:left;
	left:0px;
	text-align:left;
	vertical-align:middle;
	margin-top:4px;
  min-width:10.5em;
  max-width:10.5em;
	/*height:100%;*/
	display:block;
}
/*
.relationsEntitySelect {
	text-align:left;
	vertical-align:middle;
	width:18em; //16em;
  min-width:18em;
  max-width:18em;
	height:100%;
	margin:1px 0px 1px 0px;
}*/
#dataRelationsHeaderrelationsEntitySelect {
	position:relative;
	float:left;
  left:50px;
	text-align:left;
	vertical-align:middle;
	margin-top:4px;
	/*width:18em; //16em;*/
  min-width:18em;
  max-width:18em;
	/*height:100%;*/
	margin:1px 0px 1px 0px;
}
#dataRelationsHeaderrelationsEntitySelect label {
  font-weight:bold;
	margin-top:4px;
}
#modelRelationsHeaderrelationsEntitySelect {
	position:relative;
	float:left;
  left:50px;
	text-align:left;
	vertical-align:middle;
	margin-top:4px;
	/*width:18em; //16em;*/
  min-width:18em;
  max-width:18em;
	/*height:100%;*/
	margin:1px 0px 1px 0px;
}
#modelRelationsHeaderrelationsEntitySelect label {
  font-weight:bold;
	margin-top:4px;
}
/*
.relationsTypeSelect {
	text-align:left;
	vertical-align:middle;
	width:14em;
  min-width:14em;
  max-width:14em;	
	height:100%;
	margin:1px 0px 1px 0px;
}*/
#dataRelationsHeaderrelationsTypeSelect {
	position:relative;
	float:left;
  left:400px;
	text-align:left;
	vertical-align:middle;
	margin-top:4px;
	/*width:14em;*/
  min-width:14em;
  max-width:14em;	
	/*height:100%;*/
	margin:1px 0px 1px 0px;
}
#dataRelationsHeaderrelationsTypeSelect label {
  font-weight:bold;
	margin-top:4px;
}
#modelRelationsHeaderrelationsTypeSelect {
	position:relative;
	float:left;
  left:400px;
	text-align:left;
	vertical-align:middle;
	margin-top:4px;
	/*width:14em;*/
  min-width:14em;
  max-width:14em;	
	/*height:100%;*/
	margin:1px 0px 1px 0px;
}
#modelRelationsHeaderrelationsTypeSelect label {
  font-weight:bold;
	margin-top:4px;
}

#relationsEntityFilter {
	position:relative;
	vertical-align:middle;
	margin-top:4px;
	left:350px;
	width:1.5em; //2.5em; //50px;
	/*height:100%;*/
}

#relationsEntityFilterButton {
	position:relative;
	text-align:center;
	vertical-align:middle;
	margin-top:3px;
	left:410px;
	float:left;
	width:50px;
}

#rootUndoButton {
	position:relative;
	left:480px;
	width:20px;
	height:24px;
	margin-top:3px;
}

#rootSelectButton {
	position:relative;
	left:500px;
	width:50px;
	height:24px;
	margin-top:3px;
}

#rootRedoButton {
	position:relative;
	left:550px;
	width:20px;
	height:24px;
	margin-top:3px;
}

#modelObjectsHeaderReferenceOperatorSelect {
	position:relative;
	text-align:left;
	vertical-align:middle;
	margin-top:4px;
	float:left;
	left:20px;
	/*width:50px;*/
  min-width:50px;
  max-width:50px;	
	/*height:100%;*/
}
#modelObjectsHeaderReferenceOperatorSelect label {
	font-weight:bold;
	margin-top:4px;
}
#dataObjectsHeaderReferenceOperatorSelect {
	position:relative;
	text-align:left;
	vertical-align:middle;
	margin-top:4px;
	float:left;
	left:20px;
	/*width:50px;*/
  min-width:50px;
  max-width:50px;	
	/*height:100%;*/
}
#dataObjectsHeaderReferenceOperatorSelect label {
	font-weight:bold;
	margin-top:4px;
}
.objectsReferenceOperatorSelect {
	position:relative;
	text-align:left;
	vertical-align:middle;
	margin-top:4px;
	float:left;
	left:20px;
	/*width:50px;*/
  min-width:50px;
  max-width:50px;	
	/*height:100%;*/
}
.objectsReferenceOperatorSelect label {
	font-weight:bold;
	margin-top:4px;
}

#modelObjectsHeaderReferenceFilter {
	position:relative;
	vertical-align:middle;
	margin-top:4px;
	left:5px;
	width:2.0em; //50px;
	/*height:100%;*/
}
#dataObjectsHeaderReferenceFilter {
	position:relative;
	vertical-align:middle;
	margin-top:4px;
	left:5px;
	width:2.0em; //50px;
	/*height:100%;*/
}
.objectsReferenceFilter {
	position:relative;
	vertical-align:middle;
	left:5px;
	width:2.0em; //50px;
	height:100%;
}

#modelObjectsHeaderTypeSelect {
	position:relative;
	text-align:left;
	vertical-align:middle;
	margin-top:4px;
	float:left;
	left:400px;
	/*width:14em;*/
  min-width:14em;
  max-width:14em;	
	/*height:100%;*/
}
#modelObjectsHeaderTypeSelect label {
	font-weight:bold;
	margin-top:4px;
}
#dataObjectsHeaderTypeSelect {
	position:relative;
	text-align:left;
	vertical-align:middle;
	margin-top:4px;
	float:left;
	left:400px;
	/*width:14em;*/
  min-width:14em;
  max-width:14em;	
	/*height:100%;*/
}
#dataObjectsHeaderTypeSelect label {
	font-weight:bold;
	margin-top:4px;
}
.objectsTypeSelect {
	position:relative;
	text-align:left;
	vertical-align:middle;
	margin-top:4px;
	float:left;
	left:400px;
	/*width:14em;*/
  min-width:14em;
  max-width:14em;	
	/*height:100%;*/
}
.objectsTypeSelect label {
	font-weight:bold;
	margin-top:4px;
}

#dataObjectsHeaderEntityFilter {
	position:relative;
	left:350px;
	width:2.5em; //2.5em; //50px;
	/*height:100%;*/
	vertical-align:middle;
	margin-top:4px;
}
#modelObjectsHeaderEntityFilter {
	position:relative;
	left:350px;
	width:2.5em; //2.5em; //50px;
	/*height:100%;*/
	vertical-align:middle;
	margin-top:4px;
}
.objectsEntityFilter {
	position:relative;
	left:350px;
	width:2.5em; //2.5em; //50px;
	/*height:100%;*/
	vertical-align:middle;
	margin-top:4px;
}

#modelObjectsHeaderEntityFilterButton {
	position:relative;
	text-align:center;
	vertical-align:middle;
	margin-top:3px;
	left:410px;
	float:left;
	width:50px;
}
#dataObjectsHeaderEntityFilterButton {
	position:relative;
	text-align:center;
	vertical-align:middle;
	margin-top:3px;
	left:410px;
	float:left;
	width:50px;
}
.objectsEntityFilterButton {
	position:relative;
	text-align:center;
	vertical-align:middle;
	margin-top:3px;
	left:410px;
	float:left;
	width:50px;
}

#commonHeader {
	position:relative;
	float:right;
	width:21%;
	height:100%;
	background-color:inherit;
	display:block;	
}

#settingSelect {
	position:relative;
	float:left;
	left:0px;
	text-align:center;
	vertical-align:middle;
	margin-top:4px;
	/*width:150px;*/
  min-width:150px;
  max-width:150px;	
	/*height:100%;*/
}
#settingSelect label {
	font-weight:bold;
	margin-top:4px;
}

#helpButton {
	position:relative;
  float:right;
  right:0px;
	text-align:center;
	vertical-align:middle;
	margin-top:3px;
	width:40px;
}

#settingButton {
	position:relative;
  float:right;
	text-align:center;
	vertical-align:middle;
	margin-top:3px;
	margin-right:20px;
	width:55px;
}

//////////////
// GridList //
//////////////
.gridlist {
	position:relative;
  float:left;
	width:100%;
	height:100%;
}
.listLeft {
	position:relative;
  float:left;
	width:100%;
	height:100%;
}
.listRight {
	position:relative;
  float:left;
	width:100%;
	height:100%;
}
#modelObjectsTextsEditorLeft {
	text-align:center;
  vertical-align:middle;
  background-color:#FAE4DB; /*#FF887A;*/
}
#modelObjectsTextsEditorRight {
  /*background-image:url("https://na6.salesforce.com/resource/1285777333000/sja__text_bg_ruler91_gif");*/
  background-image:url("http://sjamayee-explorer.googlecode.com/files//text_bg_ruler91.gif");
  background-position:left top;
  background-repeat:no-repeat;
}
#modelRelationsTextsEditorLeft {
	text-align:center;
  vertical-align:middle;
  background-color:#FAE4DB; /*#FF887A;*/
}
#modelRelationsTextsEditorRight {
  /*background-image:url("https://na6.salesforce.com/resource/1285777333000/sja__text_bg_ruler91_gif");*/
  background-image:url("http://sjamayee-explorer.googlecode.com/files//text_bg_ruler91.gif");
  background-position:left top;
  background-repeat:no-repeat;
}
/* ID'S ***
ObjectsListLeft.ID = "objectsListLeft";
ObjectsListRight.ID = "objectsListRight";
RelationsGridLeft.ID = "relationsGridLeft";
RelationsGridRight.ID = "relationsGridRight";
ModelObjectsTextsEditorLeft.ID = "modelObjectsTextsEditorLeft";
ModelObjectsTextsEditorRight.ID = "modelObjectsTextsEditorRight";
ModelRelationsTextsEditorLeft.ID = "modelRelationsTextsEditorLeft";
ModelRelationsTextsEditorRight.ID = "modelRelationsTextsEditorRight";
*/

/////////////
// ToolBar //
/////////////
.toolBar {
	position:relative;
	float:left;
  width:65%;
  height:100%;
  background-color:white;
  display:block;
}
#dataObjectsToolBar {
  display:block; /*none;*/
}
#dataRelationsToolBar {
  display:block; /*none;*/
}
#modelObjectsToolBar {
  display:block; /*none;*/
}
#modelRelationsToolBar {
  display:block; /*none;*/
}

.commonToolBar {
	position:relative;
	float:left;
	width:35%;
	height:100%;
	vertical-align:middle;
  display:block;
}
.messageText {
	position:relative;
	left:2px;
	float:left;
  display:block;
  width:100%;
  height:100%;
  border:none;
  margin-top:7px;
}
.messageText:focus {
  background-color:red;
}

.specialTB {
	position:relative;
	float:left;
  display:block;
  width:65%;
  height:100%;
}
.navigationButtonsTB {
	position:relative;
	float:left;
  display:block;
	vertical-align:middle;
  left:5px;
  width:37%;
  height:100%;
/*padding:0px 10px 0px 0px;*/
}
.textsNavigationButtonsTB {
	position:relative;
	float:left;
  display:block;
	vertical-align:middle;
  margin-left:6px;
  height:100%;
}
.updateButtonsTB {
	position:relative;
	float:right;
  display:block;
  width:63%;
  height:100%;
  right:0px;
  vertical-align:middle;
}
.parentAndChildButtonsTB {
	position:relative;
	float:left;
  display:block;
  /*width:75%;*/
  height:100%;
  margin-left:50px;
}
.toolBarButton {
	vertical-align:middle;  
  margin-top:4px;
}
.textsEditorUICButton {
	vertical-align:middle;
	width:100px;	
}

.textsToolBarResizeButton {
	position:relative;
	float:right;
	right:0px;
	width:80px;
  margin-top:4px;
}
.objectsToolBarResizeButton {
  position:relative;
  float:left;
  width:80px;
  margin:4px 0px 0px 3px;
}
.deleteUnreferencedObjectsButton {
	position:relative;
	float:right;
	right:0px;
	width:200px;
  margin-top:4px;
}
.objectsToolBarTextButton {
	position:relative;
	float:right;  
  margin-left:10px;
  margin-right:10px;
  margin-top:4px;
}
.relationsToolBarResizeButton {
  position:relative;
  float:left;
  width:85px;
  margin:4px 0px 0px 3px;
}
.relationsToolBarResetButton {
	position:relative;
	float:right;
	right:0px;
	width:100px;
  margin-top:4px;
}
.relationsToolBarTextButton {
	position:relative;
	float:right;  
  margin-left:10px;
  margin-right:10px;
  margin-top:4px;
}

////////////
// Detail //
////////////
/*
#detailPane {
	height:217px;
	width:100%;
	border:1px solid red;
	display:block;
	background-color:inherit;
}
*/
#detailPaneLeft {
	height:100%;
  width:35%;
	display:block;
	/*border:1px solid red;
  background-color:white;
  overflow:hidden;*/
}

#detailPaneRight {
	height:100%;
	display:block;
	/*border:1px solid lime;
  background-color:white;
  overflow:hidden;*/
}

.objectNTD {
	position:relative;
	float:left;
	left:0px;
	width:100%;
	height:100%;
  border:none;
  overflow:hidden;
  /*margin-right:5px;*/
	background-color:white;
	display:block;
}

.objectProperties {
	position:relative;
	float:left;
	left:0px;
	width:100%;
	height:100%;
	display:block;
	background-color:#F2F2F2; //inherit; //lightblue;
}
#modelObjectPropertiesHeader {
	position:relative;
	float:left;
	left:0px;
	width:100%;
	height:100%;
	display:block;
	background-color:#FAE4DB;
}

.parentDetail {
	position:relative;
	float:left;
	left:0px;
	width:100%;
	height:100%;
	display:block;
}

.parentNTD {
	position:relative;
	float:left;
	left:0px;
	width:100%; /*50%;*/
	height:100%;
  border:none;
  overflow:hidden;
  /*margin-right:5px;*/
	background-color:white;
	display:block;
}

.parentProperties {
	position:relative;
	float:left;
  width:100%; /*50%;*/
	height:100%;
	display:block;
	overflow:hidden;
	background-color:#F2F2F2; //inherit; //lightblue;
}

.childDetail {
	position:relative;
	float:left;
	left:0px;
	width:100%;
	height:100%;
	display:block;
}

.childNTD {
	position:relative;
	float:left;
	left:0px;
  width:100%; /*50%;*/
	height:100%;
  border:none;
  overflow:hidden;
  /*margin-right:5px;*/
	background-color:white;
	display:block;
}

.childProperties {
	position:relative;
	float:left;
  width:100%; /*50%;*/
	height:100%;
	display:block;
	background-color:#F2F2F2; //inherit; //yellow;
}

.detailHeader {
	position:relative;
	float:left;
	top:0px;
	width:100%;
	height:20px;
	background-color:lightblue;
	font-weight:bold;
	text-align:center;
	/*padding:3px 0px 0px 0px;*/
	overflow:hidden;
	display:block;
}

.detailField {
	position:relative;
	width:100%;
	margin:0px 0px 0px 3px;
}
.detailField label {
	font-weight:bold;
}

.propertiesHeader {
	position:relative;
	float:top; /*left;*/
	top:0px;
	width:100%;
	height:20px;
	background-color:lightblue;
	font-weight:bold;
	text-align:center;
	padding:3px 0px 0px 0px;
  cursor:ns-resize;
	overflow:hidden;
	display:block;
}

#dataObjectPropertiesHeader {
	position:relative;
	float:left;
	top:0px;
	width:100%;
	height:20px;
	background-color:lightblue;
	font-weight:bold;
	text-align:center;
	padding:3px 0px 0px 0px;
  cursor:ns-resize;
	overflow:hidden;
	display:block;
}

#dataParentPropertiesHeader {
	position:relative;
	float:left;
	top:0px;
	width:100%;
	height:20px;
	background-color:lightblue;
	font-weight:bold;
	text-align:center;
	padding:3px 0px 0px 0px;
  cursor:ns-resize;
	overflow:hidden;
	display:block;
}

#dataChildPropertiesHeader {
	position:relative;
	float:left;
	top:0px;
	width:100%;
	height:20px;
	background-color:lightblue;
	font-weight:bold;
	text-align:center;
	padding:3px 0px 0px 0px;
	overflow:hidden;
	display:block;
}

#modelObjectPropertiesHeader {
	position:relative;
	float:left;
	top:0px;
	width:100%;
	height:20px;
	background-color:#FAE4DB;
	font-weight:bold;
	text-align:center;
	padding:3px 0px 0px 0px;
	overflow:hidden;
	display:block;
}

#modelParentPropertiesHeader {
	position:relative;
	float:left;
	top:0px;
	width:100%;
	height:20px;
	background-color:#FAE4DB;/*lightblue;*/
	font-weight:bold;
	text-align:center;
	padding:3px 0px 0px 0px;
	overflow:hidden;
	display:block;
}

#modelChildPropertiesHeader {
	position:relative;
	float:left;
	top:0px;
	width:100%;
	height:20px;
	background-color:#FAE4DB;/*lightblue;*/
	font-weight:bold;
	text-align:center;
	padding:3px 0px 0px 0px;
	overflow:hidden;
	display:block;
}

.detailName {
	position:relative;
	/*width:50%;*/
	left:0px;
	background-color:lightgray;
	margin:3px 0px 0px 0px;
}
.detailName label.required {
	font-size:0.8em;
	padding-right:1em;
	background-image:url("https://na6.salesforce.com/resource/1290250720000/sja__required_field_gif");
	background-repeat:no-repeat;
	background-position:center right;
}

.detailType {
	position:relative;
	/*width:20%;*/
	left:0px;
	background-color:lightgray;
	margin:3px 0px 0px 0px;
}

.detailDescription {
	position:relative;
	width:100%;
	left:0px;
	background-color:lightgray;
	margin:0px 3px 0px 0px;
}

.detailCreatedBy {
	position:relative;
	/*width:50%;*/
	left:0px;
	background-color:lightgray;
	margin:3px 0px 0px 0px;
}

.detailModifiedBy {
	position:relative;
	/*width:50%;*/
	left:0px;
	background-color:lightgray;
	margin:3px 0px 0px 0px;
}

#childNTD .detailField {
//margin-bottom:5px;
//background-color:lightgray; //Added
}
#childNTD label {
//font-size:0.8em;
//padding-right:1em;
//background-color:lightblue; //Added	
}
#childNTD label.required {
//font-size:0.8em;
//padding-right:1em;
//background-image:url("../img/required_field.gif");
//background-repeat:no-repeat;
//background-position:center right;
}

#childNTD label.fieldError {
//background-image:url("../img/field_error.gif");
}

///////////////////
// AttributeList //
///////////////////
.attributeListNames {
	position:relative;
	float:left;
	left:0px;
	width:100%; /*50%;*/
	height:100%;
	text-align:left;
	background-color:inherit; //yellow;
  /*border-right:1px dotted lightgray;*/
	overflow:hidden;	
	display:block;
}
.attributeListValues {
	position:relative;
	float:left;
	width:100%;
	height:100%;
	text-align:left;
	background-color:inherit; //lime;
  /*border-left:1px dotted lightgray;*/
	/*overflow:hidden;*/
	/*border-left:1px solid dotted;*/
	display:block;
}

#dataObjectPropertiesNames {
	position:relative;
	float:left;
	left:0px;
	width:100%; /*50%;*/
	height:100%;
	text-align:left;
	background-color:inherit; //yellow;
  /*border-right:1px dotted lightgray;*/
	overflow:hidden;	
	display:block;
}
#dataObjectPropertiesValues {
	position:relative;
	float:left;
	width:100%; /*50%;*/
	height:100%;
	text-align:left;
	background-color:inherit; //lime;
  /*border-left:1px dotted lightgray;*/
	overflow:hidden;	
	display:block;
}
#dataParentPropertiesNames {
	position:relative;
	float:left;
	left:0px;
	width:100%; /*50%;*/
	height:100%;
	text-align:left;
	background-color:inherit; //yellow;
  /*border-left:1px dotted lightgray;*/
	overflow:hidden;	
	display:block;
}
#dataParentPropertiesValues {
	position:relative;
	float:left;
	width:100%; /*50%;*/
	height:100%;
	text-align:left;
	background-color:inherit; //lime;
  /*border-left:1px dotted lightgray;*/
	overflow:hidden;	
	display:block;
}
#dataChildPropertiesNames {
	position:relative;
	float:left;
	left:0px;
	width:100%; /*50%;*/
	height:100%;
	text-align:left;
	background-color:inherit; //yellow;
  /*border-left:1px dotted lightgray;*/
	overflow:hidden;	
	display:block;
}
#dataChildPropertiesValues {
	position:relative;
	float:left;
	width:100%; /*50%;*/
	height:100%;
	text-align:left;
	background-color:inherit; //lime;
  /*border-left:1px dotted lightgray;*/
	overflow:hidden;	
	display:block;
}
#modelObjectPropertiesNames {
	position:relative;
	float:left;
	left:0px;
	width:100%; /*50%;*/
	height:100%;
	text-align:left;
	background-color:inherit; //yellow;
  /*border-left:1px dotted lightgray;*/
	overflow:hidden;	
	display:block;
}
#modelObjectPropertiesValues {
	position:relative;
	float:left;
	width:100%; /*50%;*/
	height:100%;
	text-align:left;
	background-color:inherit; //lime;
  /*border-left:1px dotted lightgray;*/
	overflow:hidden;	
	display:block;
}
#modelParentPropertiesNames {
	position:relative;
	float:left;
	left:0px;
	width:100%; /*50%;*/
	height:100%;
	text-align:left;
	background-color:inherit; //yellow;
  /*border-left:1px dotted lightgray;*/
	overflow:hidden;	
	display:block;
}
#modelParentPropertiesValues {
	position:relative;
	float:left;
	width:100%; /*50%;*/
	height:100%;
	text-align:left;
	background-color:inherit; //lime;
  /*border-left:1px dotted lightgray;*/
	overflow:hidden;	
	display:block;
}
#modelChildPropertiesNames {
	position:relative;
	float:left;
	left:0px;
	width:100%; /*50%;*/
	height:100%;
	text-align:left;
	background-color:inherit; //yellow;
  /*border-left:1px dotted lightgray;*/
	overflow:hidden;	
	display:block;
}
#modelChildPropertiesValues {
	position:relative;
	float:left;
	width:100%; /*50%;*/
	height:100%;
	text-align:left;
	background-color:inherit; //lime;
  /*border-left:1px dotted lightgray;*/
	overflow:hidden;	
	display:block;
}
/*
.attributeListNames {
//border-left:1px dotted lightgray;
//overflow:hidden;
//position:relative;
//width:50%;
//height:100%;
//float:left;
//display:block;
//text-align:left;
//background-color:yellow;
}
*/
/*
.attributeListNames div:focus {
	background-color:red; //white;
}
*/
.attributeNameHeader {
	position:relative;
	width:100%;
	height:18px;
/*margin:1px 0px 1px 0px;*/
	padding:0px 0px 0px 3px;
/*border-bottom:1px solid lightgray;*/
	text-align:left;
	background-color:lightgray;
	color:black;
}

.attributeName {
  border-top:1px solid inherit;   
  border-left:1px solid inherit;   
  border-bottom:1px dotted lightgray;
	background-color:inherit; //#F2F2F2;
  font-color:inherit;
  font-weight:inherit;
/*position:relative;
  width:100%;
  margin:1px 0px 1px 0px;*/
  padding:0px 0px 0px 3px;
/*white-space:nowrap;
  text-align:left;
  color:black;*/
}
/*
.attributeListValues {
//border-left:1px dotted lightgray;
//overflow:hidden;
//position:relative;
//width:50%;
//height:100%;
//float:left;
//display:block;
//text-align:left;
//background-color:lime;
}
*/
/*.attributeListValues div:focus {
	background-color:white;
}*/

.attributeValueHeader {
	position:relative;
	width:100%;
	height:18px;
/*margin:1px 0px 1px 0px;*/
	padding:0px 0px 0px 3px;
/*border-bottom:1px solid lightgray;*/
	text-align:left;
	background-color:lightgray;
	color:black;
}

.attributeValue {
  border-top:1px solid inherit;   
  border-left:1px dotted lightgray;
  border-bottom:1px dotted lightgray;
	background-color:inherit; //#F2F2F2;
  font-color:inherit;
  font-weight:inherit;
/*position:relative;
  width:100%;
  margin:1px 0px 1px 0px;*/
  padding:0px 0px 0px 2px;
/*white-space:nowrap;
  text-align:left;
  color:black;*/
}

#objectPropertiesNames {
	position:relative;
	width:100%; /*50%;*/
	height:100%;
	float:left;
	display:block;
	text-align:left;
	background-color:inherit; //yellow;
}
#objectPropertiesValues {
	position:relative;
	width:100%; /*50%;*/
	height:100%;
	float:left;
	display:block;
	text-align:left;
	background-color:inherit; //lime;
}

/*#objectPropertiesNames div:focus {*/
#objectPropertiesNames:focus {
	background-color:red; //white;
}

#entityPropertiesNames {
	position:relative;
	width:100%; /*50%;*/
	height:100%;
	float:left;
	display:block;
	text-align:left;
	background-color:inherit; //yellow;
}
#entityPropertiesValues {
	position:relative;
	width:100%; /*50%;*/
	height:100%;
	float:left;
	display:block;
	text-align:left;
	background-color:inherit; //lime;
}

#childPropertiesNames {
	position:relative;
	width:100%; /*50%;*/
	height:100%;
	float:left;
	display:block;
	text-align:left;
	background-color:inherit; //yellow;
/*border-left:1px dotted lightgray;*/
	overflow:hidden;	
}
#childPropertiesValues {
	position:relative;
	width:100%; /*50%;*/
	height:100%;
	float:left;
	display:block;
	text-align:left;
	background-color:inherit; //lime;
/*border-left:1px dotted lightgray;*/
	overflow:hidden;	
}

#parentPropertiesNames {
	position:relative;
	width:100%; /*50%;*/
	height:100%;
	float:left;
	display:block;
	text-align:left;
	background-color:inherit; //yellow;
}
#parentPropertiesValues {
	position:relative;
	width:100%; /*50%;*/
	height:100%;
	float:left;
	display:block;
	text-align:left;
	background-color:inherit; //lime;
	overflow:hidden;	
}

textarea.TextsEditorUIComponent {
  width:99.7%; /*99.75%;*/
  border:none;
  margin-top:40px;
  padding:0px 2px 0px 2px;
  font:normal normal normal 14px courier new;
  background:transparent;
  resize:none;
}
.TextsEditorUIC_Normal {
  height:81%;
  border:1px solid blue;
}
.TextsEditorUIC_Maximum {
  height:90.5%;
  border:1px solid red;
}

BUTTON {
	/*background:inherit;*/
	/*background:lime; //#CDD4E4;*/
	font-weight:bold;
	/*border:1px solid #999;*/
	height:1.7em;
	font-size:0.8em;
	/*vertical-align: middle;*/
	padding:0 0.1em 0.1em 0.1em;
	margin-left:0.25em;
}

BUTTON:disabled {
	/*color:#DDD;*/
	/*border:none;*/
	/*background:inherit; //lightblue; //#C0C5D0;*/
}

/*** STE - Simple Text Editor ***/
.ste .bar { background: #ECE9D8; padding: 3px; border: #ACA899 1px; border-style: solid solid none solid; }
.ste .frame { border: 1px solid; border-color: #716F64 #ECE9D8 #ECE9D8 #716F64; }
.ste .frame iframe { width: 500px; height: 300px; }
.ste img { border: 0; }
.ste .button { padding: 1px; border: #ECE9D8 1px solid; }
.ste .button-hover { padding: 1px; border: 1px solid; border-color: #ffffff #ACA899 #ACA899 #ffffff; }
.ste .button-click { padding: 1px; border: 1px solid; border-color: #ACA899 #ffffff #ffffff #ACA899; }
.ste .separator { width: 0px; height: 18px; border-left: #aca899 1px solid; border-right: #ffffff 1px solid; margin: 0 5px; }
.ste .source { padding-top: 5px; }