<html>
<head>
 GRID TEMPLATE
 <link rel="stylesheet" type="text/css" href="template.css"/>	

 <script type="text/javascript" src="../../externs/js/mootools_1_2_5_core_nc.js"></script>
 <script type="text/javascript" src="../../externs/js/mootools_1_2_4_4_more_nc.js"></script>
 <script type="text/javascript" src="../../externs/js/pureMVC_2_0_Mini.js"></script>

 <script type="text/javascript" src="../sjamayee_base.js"></script>
 <script type="text/javascript" src="../sjamayee_grid.js"></script>
 <script type="text/javascript" src="../sjamayee_pmvc.js"></script>

 <script type="text/javascript"></script>
</head>
<body>
<div id="listPaneLeft" class="listPane" style="height:100%;width:100%;background-color:inherit;overflow:hidden;">
 <div id="dataRelationsGridLeft" class="listLeft" style="width:100%;height:100%;display:block;">
  <div id="dataRelationsGridLeftgcolumn000" class="gridColumn gridColumnWhereUsed gridColumnWhereUsed_4C" style="width:100%;position:relative;float:left;align:left;background-color:lightblue;">
   <div id="dataRelationsGridLeftgcolumn000h" class="gridColumnHeader gridColumnHeaderFirst" style="background-color:lightgray;">
    <div id="dataRelationsGridLeftgcolumn000ha" style="position:relative;left:2px;color:blue;text-align:center;" tabindex="-1">-3</div>
   </div>
   <div id="dataRelationsGridLeftgcolumnr000c000" class="relationsGridLeftCell gridCellLeft gridCellFirst" style="background-color:inherit;color:inherit;">&nbsp;</div>
   <div id="dataRelationsGridLeftgcolumnr001c000" class="relationsGridLeftCell gridCellLeft">&nbsp;</div>
   <div id="dataRelationsGridLeftgcolumnr002c000" class="relationsGridLeftCell gridCellLeft" style="background-color:inherit;color:inherit;">&nbsp;</div>
   <div id="dataRelationsGridLeftgcolumnr003c000" class="relationsGridLeftCell gridCellLeft">&nbsp;</div>
   <div id="dataRelationsGridLeftgcolumnr004c000" class="relationsGridLeftCell gridCellLeft" style="background-color:inherit;color:inherit;">&nbsp;</div>
   <div id="dataRelationsGridLeftgcolumnr005c000" class="relationsGridLeftCell gridCellLeft">&nbsp;</div>
   <div id="dataRelationsGridLeftgcolumnr006c000" class="relationsGridLeftCell gridCellLeft" style="background-color:inherit;color:inherit;">&nbsp;</div>
   <div id="dataRelationsGridLeftgcolumnr007c000" class="relationsGridLeftCell gridCellLeft" style="background-color:inherit;color:inherit;">&nbsp;</div>
   <div id="dataRelationsGridLeftgcolumnr008c000" class="relationsGridLeftCell gridCellLeft" style="background-color:inherit;color:inherit;">&nbsp;</div>
   <div id="dataRelationsGridLeftgcolumnr009c000" class="relationsGridLeftCell gridCellLeft" style="background-color:inherit;color:inherit;">&nbsp;</div>
   <div id="dataRelationsGridLeftgcolumnr010c000" class="relationsGridLeftCell gridCellLeft" style="background-color:inherit;color:inherit;">&nbsp;</div>
  </div>
  <div id="dataRelationsGridLeftgcolumn001" class="gridColumn gridColumnWhereUsed gridColumnWhereUsed_4C" style="width:100%;position:relative;float:left;align:left;background-color:white;">
   <div id="dataRelationsGridLeftgcolumn001h" class="gridColumnHeader" style="background-color:lightgray;">
    <div id="dataRelationsGridLeftgcolumn001ha" style="position:relative;left:2px;color:blue;text-align:center;" tabindex="-1">-2</div>
   </div>
   <div id="dataRelationsGridLeftgcolumnr000c001" class="relationsGridLeftCell gridCellFirst">&nbsp;</div>
   <div id="dataRelationsGridLeftgcolumnr001c001" class="relationsGridLeftCell">&nbsp;</div>
   <div id="dataRelationsGridLeftgcolumnr002c001" class="relationsGridLeftCell">&nbsp;</div>
   <div id="dataRelationsGridLeftgcolumnr003c001" class="relationsGridLeftCell">&nbsp;</div>
   <div id="dataRelationsGridLeftgcolumnr004c001" class="relationsGridLeftCell">&nbsp;</div>
   <div id="dataRelationsGridLeftgcolumnr005c001" class="relationsGridLeftCell">&nbsp;</div>
   <div id="dataRelationsGridLeftgcolumnr006c001" class="relationsGridLeftCell" style="background-color:inherit;color:inherit;">&nbsp;</div>
   <div id="dataRelationsGridLeftgcolumnr007c001" class="relationsGridLeftCell" style="background-color:inherit;color:inherit;">&nbsp;</div>
   <div id="dataRelationsGridLeftgcolumnr008c001" class="relationsGridLeftCell" style="background-color:inherit;color:inherit;">&nbsp;</div>
   <div id="dataRelationsGridLeftgcolumnr009c001" class="relationsGridLeftCell" style="background-color:inherit;color:inherit;">&nbsp;</div>
   <div id="dataRelationsGridLeftgcolumnr010c001" class="relationsGridLeftCell" style="background-color:inherit;color:inherit;">&nbsp;</div>
  </div>
  <div id="dataRelationsGridLeftgcolumn002" class="gridColumn gridColumnWhereUsed gridColumnWhereUsed_4C" style="width:100%;position:relative;float:left;align:left;background-color:lightblue;">
   <div id="dataRelationsGridLeftgcolumn002h" class="gridColumnHeader" style="background-color:lightgray;">
    <div id="dataRelationsGridLeftgcolumn002ha" style="position:relative;left:2px;color:blue;text-align:center;" tabindex="-1">-1</div>
   </div>
   <div id="dataRelationsGridLeftgcolumnr000c002" class="relationsGridLeftCell gridCellFirst" style="background-color:inherit;color:inherit;">Drupal<font color="red">·</font>OSRC</div>
	 <div id="dataRelationsGridLeftgcolumnr001c002" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr002c002" class="relationsGridLeftCell">&nbsp;</div>
 	 <div id="dataRelationsGridLeftgcolumnr003c002" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr004c002" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr005c002" class="relationsGridLeftCell" style="background-color:inherit;color:inherit;">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr006c002" class="relationsGridLeftCell" style="background-color:inherit;color:inherit;">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr007c002" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr008c002" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr009c002" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr010c002" class="relationsGridLeftCell">&nbsp;</div>
	</div>
	<div id="dataRelationsGridLeftgcolumn003" class="gridColumn gridColumnWhereUsed gridColumnRoot_4C" style="width:100%;position:relative;float:left;align:left;background-color:white;">
	 <div id="dataRelationsGridLeftgcolumn003h" class="gridColumnHeader" style="background-color:lightgray;">
	  <div id="dataRelationsGridLeftgcolumn003ha" style="position:relative;left:2px;color:red;text-align:center;" tabindex="-1">0</div>
	 </div>
	 <div id="dataRelationsGridLeftgcolumnr000c003" class="relationsGridLeftCell gridCellFirst" style="background-color:inherit;color:inherit;">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr001c003" class="relationsGridLeftCell" style="background-color:inherit;color:inherit;">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr002c003" class="relationsGridLeftCell" style="background-color:inherit;color:inherit;">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr003c003" class="relationsGridLeftCell" style="background-color:inherit;color:inherit;">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr004c003" class="relationsGridLeftCell" style="background-color:red;color:white;font-weight:bold;">100.000/EUR<b>·</b>BUDG</div>
	 <div id="dataRelationsGridLeftgcolumnr005c003" class="relationsGridLeftCell" style="background-color:inherit;color:inherit;">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr006c003" class="relationsGridLeftCell" style="background-color:inherit;color:inherit;">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr007c003" class="relationsGridLeftCell" style="background-color:inherit;color:inherit;">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr008c003" class="relationsGridLeftCell" style="background-color:inherit;color:inherit;">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr009c003" class="relationsGridLeftCell" style="background-color:inherit;color:inherit;">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr010c003" class="relationsGridLeftCell">&nbsp;</div>
	</div>
	<div id="dataRelationsGridLeftgcolumn004" class="gridColumn gridColumnWhatUsedLeft gridColumnWhatUsedLeft_4C" style="width:100%;position:relative;float:left;align:left;background-color:lightblue;">
	 <div id="dataRelationsGridLeftgcolumn004h" class="gridColumnHeader" style="background-color:lightgray;">
	  <div id="dataRelationsGridLeftgcolumn004ha" style="position:relative;left:2px;color:green;text-align:center;" tabindex="-1">1</div>
	 </div>
	 <div id="dataRelationsGridLeftgcolumnr000c004" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr001c004" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr002c004" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr003c004" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr004c004" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr005c004" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr006c004" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr007c004" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr008c004" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr009c004" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr010c004" class="relationsGridLeftCell">&nbsp;</div>
	</div>
	<div id="dataRelationsGridLeftgcolumn005" class="gridColumn gridColumnWhatUsedLeft gridColumnWhatUsedLeft_4C" style="width:100%;position:relative;float:left;align:left;background-color:white;">
	 <div id="dataRelationsGridLeftgcolumn005h" class="gridColumnHeader" style="background-color:lightgray;">
	  <div id="dataRelationsGridLeftgcolumn005ha" style="position:relative;left:2px;color:green;text-align:center;" tabindex="-1">2</div>
	 </div>
	 <div id="dataRelationsGridLeftgcolumnr000c005" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr001c005" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr002c005" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr003c005" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr004c005" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr005c005" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr006c005" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr007c005" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr008c005" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr009c005" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr010c005" class="relationsGridLeftCell">&nbsp;</div>
	</div>
	<div id="dataRelationsGridLeftgcolumn006" class="gridColumn gridColumnWhatUsedLeft gridColumnWhatUsedLeft_4C" style="width:100%;position:relative;float:left;align:left;background-color:lightblue;">
	 <div id="dataRelationsGridLeftgcolumn006h" class="gridColumnHeader" style="background-color:lightgray;">
	  <div id="dataRelationsGridLeftgcolumn006ha" style="position:relative;left:2px;color:green;text-align:center;" tabindex="-1">3</div>
	 </div>
	 <div id="dataRelationsGridLeftgcolumnr000c006" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr001c006" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr002c006" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr003c006" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr004c006" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr005c006" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr006c006" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr007c006" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr008c006" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr009c006" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr010c006" class="relationsGridLeftCell">&nbsp;</div>
	</div>
	<div id="dataRelationsGridLeftgcolumn007" class="gridColumn gridColumnWhatUsedLeft gridColumnWhatUsedLeft_4C" style="width:100%;position:relative;float:left;align:left;background-color:white;">
	 <div id="dataRelationsGridLeftgcolumn007h" class="gridColumnHeader" style="background-color:lightgray;">
	  <div id="dataRelationsGridLeftgcolumn007ha" style="position:relative;left:2px;color:green;text-align:center;" tabindex="-1">4</div>
	 </div>
	 <div id="dataRelationsGridLeftgcolumnr000c007" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr001c007" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr002c007" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr003c007" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr004c007" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr005c007" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr006c007" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr007c007" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr008c007" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr009c007" class="relationsGridLeftCell">&nbsp;</div>
	 <div id="dataRelationsGridLeftgcolumnr010c007" class="relationsGridLeftCell">&nbsp;</div>
  </div>
 </div>
</div>
<script type="text/javascript">
	 var columnSplitter = new Splitter($("dataRelationsGridLeft"), {
	   'handleWidth':1,
	   'handleColor':'red',
	   'handleBorder':'0px solid red',
	   'orientation':0,
	   'minimumSize':0, //400,
	   'maximumSize':$pick(window.getWidth(),document.body.clientWidth),
	   'initialSize':0, //50,
	   'opaqueResize':0});
	
	columnSplitter.addWidget($("dataRelationsGridLeftgcolumn000"));
	columnSplitter.addWidget($("dataRelationsGridLeftgcolumn001"));
	columnSplitter.addWidget($("dataRelationsGridLeftgcolumn002"));
	columnSplitter.addWidget($("dataRelationsGridLeftgcolumn003"),{'initialSize':'300'});
	columnSplitter.addWidget($("dataRelationsGridLeftgcolumn004"));
	columnSplitter.addWidget($("dataRelationsGridLeftgcolumn005"));
	columnSplitter.addWidget($("dataRelationsGridLeftgcolumn006"));
	columnSplitter.addWidget($("dataRelationsGridLeftgcolumn007"));
	
	columnSplitter.setStyle("height","100%");
</script>
</body>
</html>