/////////////////
// SettingList //
/////////////////
#SettingListHeader {
	position:relative;
	clear:both;
	float:left;
	left:0px;
	height:28px;
	width:100%;
	display:block;
	background-color:lightgreen;
}
#SettingListTitle {
	position:relative;
	float:left;
	left:0px;
	width:30%;
	height:100%;
	text-align:left;
	overflow:hidden;
	display:block;
	background-color:red;
}
#SettingListNewButton {
	position:relative;
	float:left;
  margin:auto;	
	vertical-align:middle;
	text-align:center;
	display:block;
}
#SettingListHeader {
	position:relative;
	clear:both;
	float:left;
	left:0px;
	height:28px;
	width:100%;
	vertical-align:middle;
	display:block;
	background-color:blue;
}
#SettingListHeaderAction {
	position:relative;
	float:left;
	left:0px;
	width:10%;
	height:100%;
	/*border:0px solid lightgray;*/
	display:block;
	background-color:yellow;
}
#SettingListHeaderActionSelect {
	position:relative;
	float:left;
	left:10%;
  margin:8px auto 0px auto;
	display:block;
}
#SettingListHeaderActionLabel {
	position:relative;
	float:left;
	width:90%;
	text-align:center;
  margin-top:6px;
	display:block;
}
#SettingListHeaderName {
	position:relative;
	float:left;
	width:80%;
	height:100%;
	/*border:0px solid lightgray;*/
	display:block;
	background-color:green;
}
#SettingListHeaderNameLabel {
	position:relative;
	float:left;
	text-align:left;
  margin:6px 0px 0px 5px;
	display:block;
}
#SettingListHeaderDefault {
	position:relative;
	float:left;
	width:10%;
	height:100%;
	/*border:0px solid lightgray;*/
	display:block;
	background-color:gray;
}
#SettingListHeaderDefaultLabel {
	position:relative;
	float:left;
	width:100%;
	text-align:center;
  margin-top:6px;
	display:block;
}
#SettingListBody {
	position:relative;
	clear:both;
	float:left;
	left:0px;
	height:100%;
	width:100%;
	display:block;
	background-color:inherit; /*red;*/
}

///////////////////
// SettingDetail //
///////////////////
#SettingDetailDisplay {
	position:relative;
	clear:both;
	float:left;
	left:0px;
	width:100%;
	display:none;
}
#SettingDetailEdit {
	position:relative;
	clear:both;
	float:left;
	left:0px;
	width:100%;
	display:none;
}

#SettingDetailHeader {
	position:relative;
	clear:both;
	float:left;
	left:0px;
	height:28px;
	width:100%;
	display:block;
	background-color:lightgreen;
}
#SettingDetailHeaderButtons {
	position:relative;
	float:left;	
	width:30%;
	height:100%;
	margin:auto;
	display:block;
	background-color:yellow;
}
#SettingDetailHeaderEditButtons {
	position:relative;
	float:left;	
	width:30%;
	height:100%;
	margin:auto;
	display:block;
	background-color:lime;
}
#SettingDetailGroup {
	position:relative;
	clear:both;
	float:left;
	left:0px;
	/*height:300px;*/
	width:100%;
	display:block;
	background-color:inherit;
}
/*
#SettingDetailCreatedBy {
	position:relative;
  width:35%;  
  vertical-align:middle;
}
#SettingDetailModifiedBy {
	position:relative;
  width:35%;  
  vertical-align:middle;
}
*/
.SettingDetailFoldSeparator {
	clear:both;
  height:1px;
  margin-top:10px;
  background-color:lightgreen;  
}
.SettingDetailLineSeparator {
	position:relative;
	clear:both;
	float:left;
	left:0px;
  height:21px;
  width:100%;
  padding-top:3px;
  border-top:1px solid lightgray;  
}
.SettingDetailListSeparator {
	clear:both;
  height:2px;
  margin-top:5px;
  background-color:lightgreen;  
}
.SettingDetailLineNoSeparator {
	position:relative;
	clear:both;
	float:left;
	left:0px;
  height:24px;
  width:100%;
  padding-top:3px;
  border:none;  
}
.SettingDetailColumnFirst {
  /*left:20%;*/
  width:50%;
}
.SettingDetailColumnSecond {
  /*left:60%;*/
  width:50%;  
}
#SettingDetailWhereUsedColumnsHeader {
	position:relative;
	clear:both;
	float:left;
	left:0px;
	height:26px;
	width:100%;
	display:block;
	background-color:blue;
}
#SettingDetailWhereUsedColumnsGroup {
	position:relative;
	clear:both;
	float:left;
	left:0px;
	/*height:200px;*/
	width:100%;
	display:none;
	background-color:inherit; /*lightblue;*/
}
#SettingDetailRootColumnHeader {
	position:relative;
	clear:both;
	float:left;
	left:0px;
	height:28px;
	width:100%;
	display:block;
	background-color:green;
}
#SettingDetailRootColumnGroup {
	position:relative;
	clear:both;
	float:left;
	left:0px;
	/*height:100px;*/
	width:100%;
	display:none;
	background-color:white; /*lightgreen;*/
}
#SettingDetailRootItemColor {
	position:relative;
  /*left:100px;*/
  left:20%;  
  vertical-align:middle;
}
#SettingDetailRootItemFont {
	position:relative;
  /*left:200px;*/
  left:60%;
  vertical-align:middle;
}
#SettingDetailWhatUsedColumnsHeader {
	position:relative;
	clear:both;
	float:left;
	left:0px;
	height:28px;
	width:100%;
	display:block;
	background-color:blue;
}
#SettingDetailWhatUsedColumnsGroup {
	position:relative;
	clear:both;
	float:left;
	left:0px;
	/*height:300px;*/
	width:100%;
	display:none;
	background-color:inherit; /*lightblue;*/
}
#SettingDetailObjectTypesHeader {
	position:relative;
	clear:both;
	float:left;
	left:0px;
	height:28px;
	width:100%;
	display:block;
	background-color:red;
}
#SettingDetailObjectTypesGroup {
	position:relative;
	clear:both;
	float:left;
	left:0px;
	height:200px;
	width:100%;
	display:none;
	background-color:inherit; /*yellow;*/
}
#SettingDetailFooter {
	position:relative;
	clear:both;
	float:left;
	left:0px;
	height:20px;
	width:100%;
	display:block;
	background-color:lime;
}
#SettingDetailFooterButtons {
	position:relative;
	float:left;	
	width:30%;
	height:100%;
	margin:auto;
	display:block;
	background-color:yellow;
}
#SettingDetailFooterEditButtons {
	position:relative;
	float:left;	
	width:30%;
	height:100%;
	margin:auto;
	display:block;
	background-color:lime;
}
